/*=============
   Google Font
  ============= */
@import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

/*======================
  Bootstrap Style Sheet
  ======================*/
@import url("./bootstrap.min.css");

/*===================
   Custom CSS Styles 
  ===================*/
body {
  font-family: "Quicksand", sans-serif;
}

.header-bg {
  background-color: #273d71;
}
.text-hover:hover {
  color: #3fd3af;
}

.social-icon-size {
  font-size: 14px;
}
.social-icon-gap {
  margin-right: 25px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.heading-text {
  color: #273d71;
}
.pre-heading-text {
  font-size: 13px;
}

.paragraph-text {
  color: #677788;
}

.banner-bg {
  background-image: url("../assets/bg/header-bg.png");
}

.banner-img-padding {
  padding-top: 51px;
}
.banner-content-padding {
  padding-top: 111px;
}

.service-bg {
  background-image: url("../assets/bg/providing-bg.png");
}

.consalt-cards-gap {
  margin-top: 60px;
}
.consalt-card {
  width: 339px;
  margin-bottom: 52px;
}

.service-section-gap {
  margin-top: 109px;
  margin-bottom: 129px;
}

.service-element-gap {
  margin-bottom: 22px;
}
.service-paragraph-gap {
  margin-bottom: 42px;
}
.service-shadow {
  box-shadow: 0px 10px 30px rgba(137, 151, 186, 0.2);
}

.placeholder-font {
  font-family: Nunito Sans;
  padding-left: 25px;
  font-size: 16px;
}

.form-heading-gap {
  padding-top: 72px;
  margin-bottom: 101px;
}

.form-text-gap {
  padding-top: 70px;
}

.form-gap {
  padding: 0 50px;
}

.appointment-icon {
  position: absolute;
  top: 20%;
  left: 90%;
  right: 26px;
  color: #c1d1e1;
  font-size: 22px;
}

.consult-bg {
  background-image: url("../assets/bg/upper bg.png");
}

.form-bg {
  background-image: url("../assets/bg/form-bg.png");
}

.bg-purple {
  background-image: url("../assets/bg/bg-purple.png");
}

.purple-text {
  color: #6472f2;
}

.elipse-bg {
  background-image: url("../assets/icons/Ellipse.png");
}

.business-bg {
  background-color: #f5f9ff;
}

.choose-bg {
  background-image: url("../assets/bg/contact-bg.png");
}

.testimonial-bg {
  background-image: url("../assets/bg/bg-testimonial.png");
}
.pre-testimonial-bg {
  background-image: url("../assets/bg.png");
}

.news-section {
  position: relative;
  padding: 100px 0px 100px;
}

.news-block {
  position: relative;
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 5px 15px 5px rgba(137, 151, 186, 0.15);
}
.image {
  margin: 0;
  width: 100%;
}

.auto-container {
  position: static;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

.sec-title {
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
}

.separator {
  position: relative;
  width: 70px;
  height: 4px;
  border-radius: 33.7963px;
  margin-top: 15px;
  background-color: #3fd3af;
}

.separator:before {
  position: absolute;
  content: "";
  right: -12px;
  width: 8px;
  height: 4px;
  border-radius: 33.7963px;
  background-color: #3fd3af;
}

.separator:after {
  position: absolute;
  content: "";
  right: -19px;
  width: 4px;
  height: 4px;
  border-radius: 33.7963px;
  background-color: #3fd3af;
}

.centered {
  text-align: center;
}

.post-date {
  color: white;
  background-color: #3fd3af;
  position: absolute;
  left: 249px;
  top: 232px;
  padding: 1px 6px;
  border-top-left-radius: 5px;
  border-end-start-radius: 5px;
  font-size: 14px;
  line-height: 26px;
}

.lower-content {
  margin-top: 16px;
  margin-left: 0;
}

.author-box {
  margin-bottom: 20px;
  margin-top: 16px;
  margin-left: 35px;
}
.lower-box {
  padding-bottom: 50px;
  margin-top: 20px;
  margin-left: 35px;
}
.title {
  text-decoration: none;
}

.content {
  display: flex;
  justify-content: left;
  align-items: center;
  line-height: 0;
}

.news-title {
  font-size: 20px;
  font-weight: bolder;
  color: #273d71;
}

.author-image {
  margin-right: 13px;
  border: 2px solid #3fd3af;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  overflow: hidden;
}

.author-info {
  margin-top: 10px;
}

.author-name {
  font-weight: 600;
  font-size: 16px;
  /* line-height: 26px; */
}

.designation {
  font-size: 12px;
  color: #677788;
  font-weight: 400;
  /* line-height: 22px; */
}

.line {
  color: rgba(185, 185, 185, 0.5);
  /* box-shadow: 0px 4px 10px rgba(185, 185, 185, 0.25); */
}
.news-paragraph {
  font-size: 16px;
  color: #677788;
  font-weight: 400;
}

.read-more {
  text-decoration: none;
  color: #3fd3af;
  line-height: 0;
}

.read-more-div {
  display: flex;
  align-items: center;
  justify-content: left;
}

.footer-bg {
  background-color: #273d71;
}
.footer-bg-icon {
  background-image: url("../assets/icons/send.png");
  background-repeat: no-repeat;
  background-position: right center;
  width: 42px;
  height: 42px;
}

.footer-bg-purple {
  background-image: url("../assets/bg/footer-purple-bg.png");
}

/* Form Style */
.card {
  width: 400px;
  border: none;
  border-radius: 12px;
}

.form-control {
  border: 2px solid #f5f9ff;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 15px;
}
.form-control:focus {
  box-shadow: none;
  border: 2px solid #039be5;
}

.get-appointment-btn {
  font-size: 17px;
  margin-bottom: 26px;
}

/* ==================
    Media-Query styles
 =======================*/

/*======= MOBILE========== */
@media only screen and (max-width: 688px) {
  .appointment-icon {
    position: absolute;
    top: 20%;
    left: 90%;
  }

  .form-control {
    border: 2px solid #f5f9ff;
    border-radius: 10px;
    margin-bottom: 15px;
  }

  .lower-content {
    margin-top: 16px;
    margin-left: 15px;
  }

  .post-date {
    color: white;
    background-color: #3fd3af;
    position: absolute;
    left: 202px;
    top: 202px;
    padding: 2px 12px;
    border-top-left-radius: 5px;
    border-end-start-radius: 5px;
    font-size: 14px;
    line-height: 26px;
  }
}

@media (min-width: 992px) {
  .rounded-lg-3 {
    border-radius: 0.3rem;
  }
}
